{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-console": [1, { "allow": ["error", "info", "warning"] }],
    "no-shadow": 0,
    "consistent-return": 0,
    "@typescript-eslint/no-shadow": "warn",
    "import/prefer-default-export": 0,
    "import/extensions": 0,
    "no-await-in-loop": 0,
    "no-restricted-syntax": 0,
    "no-plusplus": 0,
    "@typescript-eslint/no-explicit-any": 0,
  }
}
